---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="sm:w-[30%] fixed bottom-0 left-0 w-full sm:h-full">
		<Navbar />
	</div>
	<div class="sm:w-[70%] ml-auto ps-5 pe-5">
		<Hero />
		<About />
		<Projects />
		<Skills />
		<Footer />
	</div>
</Layout>
