<section class="mt-8" id="about">
    <div>
        <div class="md:flex md:gap-20">
            <div><h2 class="font-semibold text-2xl text-[#fafafa] mb-3">About</h2></div>
            <div class="text-[#a1a1aa]">
                <p class="">Ahoy! I'm Nanda, a Frontend Developer with a background in English Literature. Whilst storytelling has always been a part of my journey, I've found a new way to express creativity and problem-solving through code.</p>
                <p class="my-3">Currently, I'm focused on building functional and user-friendly web experiences, and I occasionally enjoy designing layouts to bring ideas to life. I love working on projects that make a real impact, whether it's improving accessibility, enhancing user interactions, or creating something meaningful from scratch.</p>
                <p>I'm always eager to take on new challenges and expand my skills, and my goal is to use my coding experiences to provide value—whether for businesses, communities, or individuals</p>
            </div>
        </div>
    </div>
</section>