<section class="mt-8" id="about">
    <div>
        <div>
            <h2 class="font-semibold text-2xl sm:text-base">About</h2>
            <p class="pt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, dolorem? Dolorum porro esse blanditiis laudantium ducimus dolor est quod distinctio, quas id! Excepturi natus blanditiis eligendi. Doloribus iste fugiat culpa?</p>
        </div>
    </div>
</section>