<section id="contact" class="mt-8">
    <div class="md:flex md:gap-16 ">
        <div>
            <h2 class="font-semibold text-2xl text-[#fafafa] mb-3">Contact</h2>
        </div> 
        <div class="mx-auto w-max md:mx-0">
           <form id="form" class="text-[#fafafa] rounded-lg" method="POST" action="https://formsubmit.co/770ac6ed68ba176a6adad75eead7ecdb">
                <div class="md:inline-flex md:items-center md:gap-8">
                    <div class="mb-3 md:mb-0">
                        <label for="name">Name</label><br />
                        <input type="text" name="name" placeholder="John Doe" id="name" required class="border-1 border-[#27272a] py-2 px-3 rounded-lg"/></div>
                    <div class="mb-3 md:mb-0">
                        <label for="email">Email</label><br />
                        <input type="email" name="email" placeholder="johndoe@email.com" id="email" required class="border-1 border-[#27272a] py-2 px-3 rounded-lg"/>
                    </div>
                </div>
                <div class="md:mt-3">
                    <label>Message</label>
                    <textarea placeholder="Message" rows="6" cols="40" class="border-1 border-[#27272a] block py-2 px-3 rounded-lg" name="message"></textarea>
                </div>
                    <button class="border-1 border-[#27272a] py-2 px-3 mt-3 rounded-lg">Submit</button>
            </form>
        </div>
    </div>
    
</section>