<footer class="mt-10 bg-amber-200 mb-17 py-5 sm:mb-0">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam iure error numquam suscipit. Alias architecto accusamus esse rem, officia sit asperiores maxime repellat. At eligendi ullam reiciendis autem quos odit.</p>
        <p>© Nanda Kresnatara 2025</p>
    </div>
</footer>