<section class="mt-5">
    <div>
        <div class="text-center sm:text-left">
            <h1 class="text-4xl sm:text-xl font-bold">Nanda Kresnatara</h1>
            <h2 class="text-2xl font-semibold sm:text-base">Front-End Engineer</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem quibusdam neque odio voluptatem ab vitae cum debitis minima! Reprehenderit voluptatibus harum dolor voluptatum veniam minus consectetur deleniti excepturi maiores ipsum!</p>
        </div>
        
        <div class="flex items-center justify-center">
            <img src="/location.png" alt="location">
            <span>Indonesia</span>
        </div>
    </div>
</section>