<header class="sm:h-full sm:content-center">
    <nav>
        <menu class="flex p-6 justify-center items-center gap-6 font-semibold sm:flex-col sm:content-center sm:text-center sm:w-max sm:mx-auto text-[#fafafa] sm:text-2xl bg-[#18181b] sm:bg-inherit">
            <a href="#"><li>Home</li></a>
            <!-- considering removing about -->
            <a href="#projects"><li>Projects</li></a>
            <a href="#"><li>Resume</li></a>
            <a href="#"><li>Contact</li></a>
        </menu>
        <div class="sm:justify-center sm:items-center w-max mx-auto gap-x-2 hidden object-cover sm:flex">
            <a href="https://github.com/taradevio" target="_blank"><img src="/icons8-github.svg" alt="github"></a>
            <a href="https://www.linkedin.com/in/nanda-kresnatara/" target="_blank"><img src="/linkedin.png" alt="linkedin"></a>
            <a href="https://x.com/tarayavanets" target="_blank"><img src="/icons8-twitter.svg" alt="twitter"></a>
        </div>
    </nav>
</header>