<header class="md:h-full md:content-center">
    <nav>
        <menu class="flex p-6 justify-center items-center gap-6 font-semibold md:flex-col md:content-center md:text-center md:w-max md:mx-auto text-[#fafafa] md:text-2xl bg-[#18181b] md:bg-inherit">
            <a href="#"><li>Home</li></a>
            <!-- considering removing about -->
            <a href="#projects"><li>Projects</li></a>
            <a href="https://docs.google.com/document/d/1gW2CzStjHGSfF0x4Gbk3eK3Tf7w6ktiRQ2LfKDX6ApY/edit?usp=sharing" target="_blank"><li>Resume</li></a>
            <a href="#contact"><li>Contact</li></a>
<<<<<<< HEAD
=======
            <a href="/blog"><li>Blog</li></a>
>>>>>>> master
        </menu>
        <div class="md:justify-center md:items-center w-max mx-auto gap-x-2 hidden object-cover md:flex">
            <a href="https://github.com/taradevio" target="_blank"><img src="/icons8-github.svg" alt="github"></a>
            <a href="https://www.linkedin.com/in/nanda-kresnatara/" target="_blank"><img src="/linkedin.png" alt="linkedin"></a>
            <a href="https://x.com/tarayavanets" target="_blank"><img src="/icons8-twitter.svg" alt="twitter"></a>
        </div>
    </nav>
</header>
