<header class="fixed bottom-0 left-0 w-full bg-amber-300">
    <nav>
        <menu class="flex p-6 justify-center items-center gap-6 font-semibold">
            <a href="#about"><li>About</li></a>
            <a href="#projects"><li>Projects</li></a>
            <a href="#"><li>Home</li></a>
            <a href="#skills"><li>Skills</li></a>
            <li>Contact</li>
        </menu>
    </nav>
</header>