<div class="border-1 border-amber-600 rounded-xl p-3 my-3 w-xs mx-auto sm:mx-0">
    <div class="flex justify-between">
        <h3 class="text-xl font-semibold">Visit Wonogiri</h3>
        <img src="/external-link.png" alt="external link">
    </div>
    <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, quam nam maiores reprehenderit numquam eveniet corrupti obcaecati ratione molestiae optio, ut, excepturi a sunt odio ipsam? Magni, quas? Esse, eos?</p>
    <div>
        <span>astro</span>
        <span>tailwind css</span>
        <span>javascript</span>
    </div>
</div>
