---
import ProjectCards from "./ProjectCards.astro"
---

<section class="mt-8" id="projects">
    <div class="md:flex md:gap-15">
        <div>
            <h2 class="font-semibold text-2xl mb-3">Projects</h2>
        </div> 
        <div class="sm:flex sm:flex-wrap sm:gap-5">
            <ProjectCards />
        </div>
    </div>
</section>