---
import ProjectCards from "./ProjectCards.astro"
---

<section class="mt-8" id="projects">
    <div>
        <h2 class="font-semibold text-2xl">Projects</h2>
        <ProjectCards />
    </div>
</section>