<section id="skills" class="mt-8">
    <div class="md:flex md:gap-24 ">
        <div>
            <h2 class="text-2xl font-semibold text-[#fafafa] mb-3">Skills</h2>
        </div>
        <div class="md:flex md:gap-5">
            <h3 class="text-[#fafafa] font-medium">Frontend</h3>
            <ul class="flex flex-wrap mt-2 md:mt-0 text-[#a1a1aa] gap-2">
                <li class="border-1 border-[#27272a] py-1 px-2 rounded-lg">HTML</li>
                <li class="border-1 border-[#27272a] py-1 px-2 rounded-lg">CSS</li>
                <li class="border-1 border-[#27272a] py-1 px-2 rounded-lg">Javascript</li>
                <li class="border-1 border-[#27272a] py-1 px-2 rounded-lg">Astro</li>
                <li class="border-1 border-[#27272a] py-1 px-2 rounded-lg">Tailwind CSS</li>
                <li class="border-1 border-[#27272a] py-1 px-2 rounded-lg">Sass</li>
            </ul>
        </div>
    </div>
</section>