<section id="skills">
    <div>
        <h2 class="text-2xl font-semibold">Skills</h2>
        <div>
            <span>HTML</span>
            <span>CSS</span>
            <span>Javascript</span>
            <span>Tailwind CSS</span>
            <span>Vue js</span>
        </div>
    </div>
</section>