<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
<<<<<<< HEAD
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
=======
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
>>>>>>> master
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<title>Nanda Kresnatara</title>
	</head>
<<<<<<< HEAD
	<body class="bg-[#09090b] max-w-[1366px] cursor-none">
=======
	<body class="bg-[#09090b] max-w-[1366px]">
>>>>>>> master
		<slot />
	</body>
</html>

<style>
	body {
		font-family: "Nunito", serif;
	}
</style>

<script src="../scripts/lenis.js"></script>
